.gardenPot {
  width: 200px;
  height: 300px;
  border: 2px solid black;
  margin: 20px auto;
  display: flex;
  flex-direction: column-reverse;
}


.container {
  padding: 6px 6px;
  // background-color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.soilLayer {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: height 0.3s ease;
}

.soil {
  background: #8B4513;
  z-index: 1;
}

.perlite {
  background: #FFFFFF;
  z-index: 2;
}

.vermiculite {
  background: #D2B48C;
  z-index: 3;
}

.peatMoss {
  background: #654321;
  z-index: 4;
}