body, html {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  align-items: start;
  width: 100%;
}

.header-row {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.tab-section, .garden-pot-section {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .sliders {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

/* .garden-pot {
  width: 200px;
  height: 300px;
  border: 2px solid black;
  margin: 20px auto;
  display: flex;
  flex-direction: column-reverse;
} */
/* .garden-pot div {
  width: 100%;
  transition: height 0.3s;
} */


.mainContent {
  display: flex;
  min-height: 42vh;
  justify-content: space-between;
  margin-right: 20px;
}



.flex-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.tab-section, .garden-pot-section {
  flex: 1;
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  text-align: center;
  margin-top: 20px;
}

.grid-header {
  font-weight: bold;
}

.themeIcon {
  width: 1em;
  height: 1em;
  display: inline-block;
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: currentColor;
  vertical-align: middle;
}